<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-12">
        <div class="card card-dark">
          <div class="card-header">
            <h1 class="card-title">Product Management</h1>
          </div>
        </div>
      </div>
    </div>
  </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-header">
            <h3 class="card-title">
              <a class="btn btn-primary" routerLink="/product/create">Add new</a>
            </h3>
          </div>
          <!-- /.card-header -->
          <div class="card-body">
            <table id="products" class="table table-bordered table-hover">
              <thead>
              <tr>
                <th>#</th>
                <th>Name</th>
                <th>Price</th>
                <th>Description</th>
                <th>Image</th>
                <th>Category</th>
                <th>Edit</th>
                <th>Delete</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let product of products; index as i">
                <td>{{i+1}}</td>
                <td>{{product.name}}</td>
                <td>{{product.price}}</td>
                <td>{{product.description}}</td>
                <td><img src="http://localhost:8080/image/{{product.image}}" width="100px" height="100px"></td>
                <td>{{product.category.name}}</td>
                <td><a class="btn btn-warning" [routerLink]="['/product/edit',product.id]">
                  <span class="fas fa-edit"></span>
                </a>
                </td>
                <td><a class="btn btn-danger" [routerLink]="['/product/delete',product.id]">
                  <span class="fas fa-trash"></span>
                </a>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
          <!-- /.card-body -->
        </div>
        <!-- /.card -->
      </div>
      <!-- /.col -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container-fluid -->
</section>
