<nav class="navbar navbar-expand-lg navbar-light bg-light" xmlns:paginate="http://www.w3.org/1999/xhtml"
     xmlns:paginate="http://www.w3.org/1999/xhtml">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>
<h1>Danh sách sản phẩm</h1>
<a routerLink="/product/create">Tạo mới sản phẩm</a>
<table class="table">
  <tr>
    <td>STT</td>
    <td>Tên</td>
    <td>Giá</td>
    <td>Mô tả</td>
    <td>Image</td>
    <td>Thể loại</td>
    <td>Edit</td>
    <td>Delete</td>
  </tr>
  <tr *ngFor="let product of products | paginate: {itemsPerPage:3 , currentPage: p}; index as i ">
    <td>{{i + 1}}</td>
    <td>{{product.name}}</td>
    <td>{{product.price}}</td>
    <td>{{product.description}}</td>
    <td><img src="http://localhost:8080/image/{{product.image}}" width="100px"></td>
    <td>{{product.category.name}}</td>
    <td><a [routerLink]="['/product/edit',product.id]">Edit</a></td>
    <td><a [routerLink]="['/product/delete',product.id]">Delete</a></td>
  </tr>
</table>
<pagination-controls (pageChange)="p = $event"></pagination-controls>
