<h1>Edit Product</h1>
<form [formGroup]="productForm" (ngSubmit)="editProduct(id)">
  <table>
    <tr>
      <td>Tên sản phẩm:</td>
      <td><input type="text" formControlName="name"></td>
    </tr>
    <tr>
      <td>Giá sản phẩm</td>
      <td><input type="number" formControlName="price"></td>
    </tr>
    <tr>
      <td>Mô tả về sản phẩm</td>
      <td><input type="text" formControlName="description"></td>
    </tr>
    <tr>
      <td>Danh mục sản phẩm</td>
      <td><select formControlName="category">
        <option disabled>Choose...</option>
        <option *ngFor="let category of categories" [value]="category.id">{{category.name}}</option>
      </select></td>
    </tr>
    <tr>
      <td></td>
      <td><button>Cập nhật</button></td>
    </tr>
  </table>
</form>
