<nav class="main-header navbar navbar-expand navbar-white navbar-light">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" data-widget="pushmenu" href="#"><i class="fas fa-bars"></i></a>
            </li>
            <li class="nav-item active mr-sm-3">
                <a class="nav-link" routerLink="/product/list">
                    <i class="fa fa-home fa-lg"></i>
                    Home<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item mr-sm-3">
                <a class="nav-link" routerLink="/admin/messenger">
                    <i class="fab fa-facebook-messenger fa-lg"></i>
                    Message<span class="sr-only">(current)</span></a>
            </li>
        </ul>
        <div class="my-2 my-lg-0">
            <ul class="navbar-nav mr-auto" *ngIf="!currentUser">
                <li class="nav-item">
                    <a class="nav-link" routerLink="login"><i class="fas fa-sign-in-alt fa-lg"></i> Đăng nhập</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="register"><i class="fas fa-user-plus fa-lg"></i> Đăng ký</a>
                </li>
            </ul>
            <ul class="navbar-nav mr-auto" *ngIf="currentUser">
                <li class="nav-item">
                    <a class="nav-link">{{currentUser.username}}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" (click)="logout()"><i class="fas fa-sign-out-alt"></i> Đăng xuất</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
