<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" routerLink="/product/list"><h3 style="font-family: cursive; font-size: 22px">Product</h3></a>

        <a class="navbar-brand" routerLink="/category/list"><h3 style="font-family: cursive; font-size: 22px">Category</h3></a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <form class="d-flex">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
        </div>
    </div>
</nav>
